.container{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg,#ee20d6 0%, #0a2fb6 100%);

}